<% if @op == "add" %>
	<p><%= @num1 + @num2 %></p>
<% elsif @op == "subtract" %>
	<p><%= @num1 - @num2 %></p>
<% elsif @op == "multiply" %>
	<p><%= @num1 * @num2 %></p>
<% elsif @op == "divide" %>
	<p><%= @num1 / @num2 %></p>
<% end %>